<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Gabble</title>
  </head>
  <body>
    <div>
      <div class="about_top">
        <h3>So, what is Gabble?</h3>
        <p>Gabble is a social media platform, created by Ronald S Hong.</br>User can register a secure account, and share whatever is on their mind,</br>
          if you find someone's post funny, you can also show your support by clicking the "like" button!</p>
      </div>
      <div class="about_tool">
        <h3>What tools are used to create this awesome page?</h3>
        <p>I used Node.js for this project, Express for the framework, Express-session as the middleware, 
          Mongoose to create a schema that stores user information and users' messages, and mustache as the view engine.   </p>
      </div>
    </div>
    <div>
      Back to <a href="/login">Login</a> Page
    </div>
  </body>
</html>
