<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>who liked my post?</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    {{#users_like}}
      <div class="">
        Liked by {{.}}
      </div>
    {{/users_like}}
    {{^users_like}}
    <div class="">
      No Like yet...
    </div>
    {{/users_like}}
  </body>
  <a href="/">Go back to HomePage!</a>
</html>
