body{
  margin: 0;
  text-align: center;
}
#body_sign_up{
  font-family: impact;
}
.header_sign_up{
  color:red;
  padding-top: 20px;
  text-align: center;
}
#header_content{
  margin: 0 0;
}
.login_header{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b3/9f/d8/b39fd8fd5ac2e8c25938e2fd1783d016.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 180px;
}

.user{
  display: flex;
  color: red;
  background-color: #98A2D4;
  justify-content: center;
}
.sign_up{
  padding: 5px 5px;

}
.sign_up div{
  color:#AAB8C2;
  margin-top: 5px;
  display: block;
  width:200px;
  padding-left: 40%;
  text-align: left;
}
#sign_up_submit{
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  width:20%;
  height: 30px;
  background-color: #1DA1F2;
  color: white;
}
div p{
  font-size: 1.5em;
}

.sign_out{
  position: absolute;
  left: 91%;
  padding-top: 10px;
}

.post_msg{
  /*text-align: center;*/
  margin: 10px;
}
.user_msg{
  border: 1px solid black;
  padding-left: 15px;
  margin-top: 5px;
}
.like{
  margin: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.post{
  text-align: center;
  margin-top: 5%;
}
.text_input input{
  width: 48%;
  margin-bottom: 15px;
}
.return{
  margin-top: 20px;
  text-align: center;
}
h1{
  text-align: center;
  color: red;
  margin: 0 0;
}
.login{
  text-align: center;
  margin-top: 20px;
}
.login div{
  padding-top: 5px;
}
#user_login{
  width:20%;
  margin-top: 15px;
  height:25px;
  border: none;
  border-radius: 50px;
  background-color: #1DA1F2;
  color: white;
}

#sign_up_link{
  text-align: center;
}
footer{
  margin-bottom: 0;
}
footer h6{
  text-align: center;
  margin: 5px 0;
}
